
.btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}


// ngx-datatable style 
:host ::ng-deep .datatable-body-row{
  background-color: white;
}
:host ::ng-deep .datatable-header {
  // padding: 0;
  font-weight: bold;
  
}

