<div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Referral From</th>
          <th>Referral To</th>
          <th>Patient Id</th>
          <th>Referral Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of referralRecord">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td>30</td>
          <td>
            <button class="btn btn-sm"><i class="fas fa-edit"></i></button>
            <button class="btn btn-sm "><i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  