<div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Online ID</th>
          <th>Referral From</th>
          <th>Referral To</th>
          <th>Patient Id</th>
          <th>Patient Name</th>
          <th>Mobile</th>
          <th>Referral Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of referralRecord">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td>30</td>
          <td>
            <button class="btn btn-sm"><i class="fas fa-edit"></i></button>
            <button class="btn btn-sm "><i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    
    <div *ngIf="referralRecord.length>0" class="d-flex justify-content-between p-2">
        <ngb-pagination
            [collectionSize]="collectionSize"
            [(page)]="page"
            [pageSize]="pageSize"
            (pageChange)="refreshCountries()"
        >
        </ngb-pagination>
    
        <select class="form-select" style="width: auto" ngModel="pageSize" (ngModelChange)="refreshCountries()">
            <option ngValue="2">2 items per page</option>
            <option ngValue="4">4 items per page</option>
            <option ngValue="6">6 items per page</option>
        </select>
    </div>
  </div>
  