nav {
  height: 100vh;
  // position: relative;
  // top: 0;
  // bottom: 0;
  background-color: #f0f0f0;
  transition: width 0.3s;
}

ul {
  margin-top: 70px;
}

button.menu-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
}


.nav-item-custom {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}