nav {
    height: 100vh;
    // position: relative;
    // top: 0;
    // bottom: 0;
    background-color: #f0f0f0;
    transition: width 0.3s;
  }

  ul{
    margin-top: 1rem;
  }
  button.menu-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
  }



.navbar-custom{
    background-color: #001C30;
}

.nav-item-custom{
      /* Set text overflow to ellipsis if it doesn't fit */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}