<div class="container">
    <form>
      <!-- First row of inputs -->
      <div class="row mb-2">
        <div class="col-3">
          <div class="input-group-sm">
            <label for="onlineId">Online Id</label>
            <input class="form-control" id="onlineId" aria-describedby="emailHelp">
          </div>
        </div>
        <div class="col-3">
          <div class="input-group-sm">
            <label for="estId">Establishment Id</label>
            <input type="email" class="form-control" id="estId" aria-describedby="emailHelp">
          </div>
        </div>
        <div class="col-3">
          <div class="input-group-sm">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
          </div>
        </div>
        <div class="col-3">
          <div class="input-group-sm">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
          </div>
        </div>
      </div>
  
      <!-- Second row of inputs -->
      <div class="row mb-3">
        <div class="col-3">
            <div class="form-group">
            <label for="selectLabel">Select</label>
            <select class="form-select" id="selectLabel" aria-label=".form-select-sm example">
                <option value="1">APPROVED</option>
                <option value="2">CANCELED</option>
              </select>
            </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
          </div>
        </div>
        <div class="col-3 mt-3">
            <button type="button" class="btn btn-secondary mx-2">Reset</button>
            <button type="button" class="btn btn-primary" (click)="search()">Search</button>
        </div>
      </div>
  
    </form>
  </div>
  