<div class="container">
    <form>
      <div class="row mb-2">
        <div class="col-3">
                <label for="typeahead-basic">Referred From:</label>
                <input id="typeahead-basic" type="text" class="form-control form-control-sm" ngModel="modelx" [ngbTypeahead]="searchx" />
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="referredTo">Referred To</label>
                <select class="form-select form-select-sm" id="referredTo" aria-label=".form-select-sm example">
                    <option value="1"></option>
                    <option value="2">xx</option>
                    <option value="3">xx</option>
                </select>
            </div>
        </div>
        <div class="col-2">
          <div class="input-group-sm">
            <label for="patientId">Patient Id</label>
            <input type="email" class="form-control" id="patientId" aria-describedby="emailHelp" >
          </div>
        </div>

        <div class="col-2">
            <div class="form-group">
                <label for="referralStatus">Response Status</label>
                <select class="form-select form-select-sm" id="referralStatus" aria-label=".form-select-sm example">
                    <option></option>
                    <option *ngFor="let item of responseStatusValues" value={{item.value}}>{{item.title}}</option>
                </select>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="referralStatus">Referral Status</label>
                <select class="form-select form-select-sm" id="referralStatus" aria-label=".form-select-sm example">
                    <option></option>
                    <option *ngFor="let item of referralStatusValues" value={{item.value}}>{{item.title}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-3 d-flex justify-content-end">
            <button type="button" class="btn btn-sm btn-secondary mx-2 ml-auto" (click)="reset()">Reset</button>
            <button type="button" class="btn btn-sm btn-primary" (click)="search()">Search</button>
        </div>
      </div>
    </form>
  </div>
  