.topbar{
  position: relative;
    background-color: #eaf9ff;
    background-color: #164B60;
    z-index: 2000;
}
.sidebar {
    height: 100vh;
    top: 0px;
    z-index: 20;
    position: fixed;
    background-color: #f0f0f0;
  }
  .main-content {
    padding: 20px;
    min-height: 100vh;
    margin-left: 50px;
    background-color:#f5f9fa;
  }
  